# Check mask all with label cell object files

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
import sys, os
#from cellpose import io
from skimage import io
from skimage.measure import label, regionprops

other_dir_path = os.path.abspath(os.path.join(os.getcwd(), '..', '..'))
sys.path.append(other_dir_path)

import IMCprocess.spatial_analysis.mask_utils as mu
import IMCprocess.utils.utils as ut

# I have to use custom Img_anndata code
import Img_anndata as utan

## import mask data and Img_anndata object with labeled cells

In [2]:
mask = io.imread('example_data/Patient2_002.tiff')
img_overlay = io.imread('example_data/Patient2_002_overlay.tiff')
tissue_mask = io.imread('example_data/Patient2_002_tissue_mask.tiff')
cancer_mask= io.imread('example_data/Patient2_002_cancer_mask.tiff')

In [3]:
data_path = '/Users/pattama/Desktop/UiB/cancer/example_share_code/share_with_vladan/mask_analysis/example_data/'
data_level1 = ut.read_pickle_obj(data_path+'00hanna_adata_totalNB_obj_Level1.pkl')

In [4]:
obj_level1 = data_level1.adata_dict['level1']
obj_R2_002_lev1 = obj_level1[obj_level1.obs['img_id'] == 'R2_002']

In [5]:
obj_R2_002_lev1.obs

         img_id PhenoGraph_clusters level1_annotated
Cell_id
21480_4  R2_002                  22           Immune
21481_4  R2_002                   9               Ep
21482_4  R2_002                  14            Fibro
21483_4  R2_002                  33              Amb
21484_4  R2_002                  14            Fibro
...         ...                 ...              ...
26052_4  R2_002                   3           Immune
26053_4  R2_002                   3           Immune
26054_4  R2_002                  41            Undef
26055_4  R2_002                  12           Immune
26056_4  R2_002                   4           Immune

[4577 rows x 3 columns]

In [7]:
#mask_labeled = label(mask)
mask_regprops = regionprops(mask)
mask_reg = mu.table_region(mask_regprops)
cell_mask = mask_reg.copy()
cell_mask

      label  area  centroid_x  centroid_y
0         1    18    1.111111  405.500000
1         2    36    1.583333  171.250000
2         3    16    1.312500  356.187500
3         4    31    1.741935  396.000000
4         5    26    1.692308  520.576923
...     ...   ...         ...         ...
4572   4573    19  790.736842  630.842105
4573   4574    26  790.730769  771.692308
4574   4575    17  791.176471  223.294118
4575   4576     9  791.222222  461.666667
4576   4577     9  791.555556  601.222222

[4577 rows x 4 columns]

In [8]:
cells_df = pd.DataFrame(obj_R2_002_lev1.obsm['spatial'], columns=['y', 'x'])
cells_df['cell_id'] = obj_R2_002_lev1.obs.index
cells_df.head()

            y         x  cell_id
0  406.500000  2.111111  21480_4
1  172.250000  2.583333  21481_4
2  357.187500  2.312500  21482_4
3  397.000000  2.741935  21483_4
4  521.576904  2.692308  21484_4